---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This is the about page. It's a great place to tell your visitors about your
    site and you.
  </p>
</BaseLayout>
