---
import Frame from "../components/Frame.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About" subtitle="Get to know me better">
  <div class="prose">
    <p>
      Hi! My name is Rafey. I'm a final year CS student. I'm currently working
      at <a href="https://codecrafters.io/">CodeCrafters(YC S22)</a> as a technical
      writer and software developer.
    </p>
    <p>
      Outside of programming, I like playing football and reading fantasy novels. My favorite authors are Joe Abercrombie and Brandon Sanderson.
    </p>
    <h2>Some people I admire</h2>
    <p>
      The people listed here have left a lasting impression on my thinking and
      continue to influence the way I approach things.
    </p>
    <h3>Khalid Azad</h3>
    <Frame
      src="https://betterexplained.com/examples/images/KalidAzadPhoto2023.jpeg"
      caption="Khalid Azad"
      height="200"
      width="200"
    />
    <p>
      Many years ago, I was scouring the internet for intuitive explanations
      about imaginary numbers. That's when I came across an <a
        href="https://betterexplained.com/articles/a-visual-intuitive-guide-to-imaginary-numbers/"
        >article</a
      > on Khalid Azad's blog, <a href="https://betterexplained.com/"
        >BetterExplained</a
      >. Instead of bombarding me with technical jargon, he
      used analogies to give me a rough idea of what the concept was about. He
      used pictures and lots and lots of examples to make this rough
      understanding more concrete. He came at it from different angles to ensure
      I understood its essence. Only and only then, did he introduce the Proper
      Technical Definition. I'd struck gold.
    </p>
    <p>
      I still remember the sheer joy bubbling inside of me after the concept
      clicked. And I wanted to share this feeling with other people. Thankfully,
      he had written two articles (<a
        href="https://betterexplained.com/articles/adept-method/"
        >ADEPT Method</a
      > and <a href="https://betterexplained.com/articles/brevity-is-beautiful/"
        >Brevity is Beautiful</a
      >) outlining the process he uses to write his articles. You will find
      their influence in everything I write.
    </p>

    <h3>My dad</h3>
    My dad is my inspiration. He is probably the smartest guy I have met. His curiosity
    and hunger to learn things is infectious. He inculcated the habit of reading
    in me. He lent me his copy of <i>Let us C</i>, my first introduction to
    programming. 
    <h3>Kailash Nadh</h3>
    <Frame
      src="https://nadh.in/static/images/kailash-2023.jpg"
      caption="Kailash Nadh (CTO, Zerodha)"
      height="200"
      width="200"
    />
    <blockquote>
      An idiot admires complexity, a genius admires simplicity.
    </blockquote>
    <p>
      My philosophy of writing software is deeply inspired by an <a
        href="https://nadh.in/blog/fomo-yamo/">article</a
      > I read a few years ago by Kailash Nadh (Zerodha's CTO). Ever since, with
      everything I work on, I try to use the right tool for the right job. I aim
      for the simplest solution.
    </p>
  </div>
</PageLayout>
