---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle="About Me">
  <p>
    This is the home page. It's a great place to be. You should stick around for
    a while.
  </p>
</BaseLayout>
