---
import profileImg from "../assets/profile.jpeg";
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="prose">
  <Image
    src={profileImg}
    alt="A photo of me."
    width={300}
    height={300}
    class="mb-4 object-cover"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi eum
    sapiente saepe sunt minus aliquam voluptatum enim, vitae autem quae nostrum
    eos sit culpa beatae perferendis placeat eius maiores? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Explicabo praesentium recusandae
    veritatis consequuntur voluptatibus quibusdam incidunt omnis et ducimus
    voluptate dolore sequi dolores fugiat repellendus, sunt aspernatur doloribus
    dignissimos id non assumenda optio eius nostrum ipsa! Velit hic voluptates
    facere dolorum ullam ducimus reiciendis vitae id illum. Non officia
    voluptate neque id nisi perspiciatis iusto est culpa laboriosam doloribus!
    Quia deserunt voluptates eaque corrupti excepturi sed at vero quaerat modi?
    Magni repudiandae veritatis iure rem pariatur facere ipsum aliquam
    voluptatibus veniam, cum dolorem unde illo dolore odio. Numquam quis aliquid
    <a href="youtube.com">sunt</a> sunt nam cumque magnam iusto similique maxime,
    r.
  </p>

  </div>
</PageLayout>
