---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Now" subtitle="Here's what I'm up to right now">
  <h2 class="text-xl font-semibold">Reading</h2>
  <h2 class="text-xl font-semibold">Watching</h2>
  <h2 class="text-xl font-semibold">Playing</h2>
</PageLayout>
