---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Now";
---

<BaseLayout pageTitle={pageTitle} subtitle={`Here's what I'm up to right now`}>
  <h2 class="text-xl font-semibold">Reading</h2>
  <h2 class="text-xl font-semibold">Watching</h2>
  <h2 class="text-xl font-semibold">Playing</h2>
</BaseLayout>
