---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const postsByYear: { [year: number]: any[] } = {};

const moonLanding = new Date("1969-07-20");
allPosts.forEach((post) => {
  const year = new Date(post.frontmatter.pubDate).getFullYear();
  if (!postsByYear[year]) {
    postsByYear[year] = [];
  }
  postsByYear[year].push(post);
});

const sortedYears = Object.keys(postsByYear).sort(
  (a, b) => Number(b) - Number(a)
);
---

<BaseLayout
  pageTitle="Posts"
  subtitle="I write about what I'm learning, internet culture and productivity"
>
  <ol>
    {
      sortedYears.map((year: any) => (
        <>
          <h2 class="text-xl font-semibold py-4">{year}</h2>
          <ul>
            {postsByYear[year].map((post: any) => (
              <li class="flex justify-between space-x-4">
                <a
                  class="text-pink-600 hover:bg-pink-600 hover:text-white transition-colors"
                  href={post.url}
                >
                  {post.frontmatter.title}
                </a>
                <span>
                  {new Date(post.frontmatter.pubDate).toLocaleString("en-US", {
                    month: "short",
                    day: "numeric",
                  })}
                </span>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </ol>
</BaseLayout>

<style>
  a {
    text-decoration: none;
  }
</style>
