---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Uses"
  subtitle="Things I use, inspired by Wes Bos' /uses page"
>
  <div class="prose">
    <h2>Development</h2>
    <ul>
      <li>
        I use <a href="https://code.visualstudio.com/">VSCode</a> (with Vim extension)
        as my editor. <a href="https://github.com/microsoft/cascadia-code"
          >Cascadia Code</a
        > for the font. Default Theme.
      </li>
      <li>
        <a href="https://iterm2.com/">ITerm2</a> + <a href="https://ohmyz.sh/"
          >Oh My Zsh
        </a> for terminal needs.
      </li>
      <li>
        <a href="https://brew.sh">Homebrew</a> for installing applications.
      </li>
    </ul>

    <h2>Daily Apps</h2>
    <ul>
      <li>
        <a href="https://rectangleapp.com">Rectangle</a> for window management.
      </li>
      <li>
        <a href="https://raycast.com">Raycast</a> for quickly launching apps, clipboard
        history, doing calculations, converting units, looking things up, etc.
      </li>
      <li>
        <a href="https://www.obsidian.md/">Obsidian</a> for note taking.
      </li>
      <li>
        <a href="https://hyperkey.app/">Hyperkey</a> to bind ⌘ + ⌥ + ^ + ⇧ to Caps
        Lock. Helps in mapping shortcuts for apps.
      </li>
      <li>
        <a href="https://cleanshot.com/">Cleanshot X</a> (Paid) for screenshotting
        and recording. Use your student email ID to get a 30% discount.
      </li>
      <li>
        <a href="https://linearmouse.app/">LinearMouse</a> to fix scroll direction
        when using a mouse.
      </li>
    </ul>
    <h2>Hardware</h2>
    <ul>
      <li><b>Laptop: </b>M1 MacBook Air 13" (Base model)</li>
      <li><b>Mobile: </b>Moto G84</li>
      <li><b>Keyboard: </b>Logitech Pebble Keys 2 K380s (Wireless)</li>
      <li><b>Mouse: </b>MX Master 2S</li>
      <li><b>Monitor: </b>LG 21.5" 1080p</li>
    </ul>
  </div>
</PageLayout>
