<footer class="flex justify-around py-4">
  <a href="https://www.github.com/glokta1">github</a>
  <a href="https://www.twitter.com/rafeytwt">twitter</a>
  <a href="https://www.linkedin.com/in/rafeyahmad">linkedin</a>
  <a href="mailto:rafeyahmad@outlook.com">email</a>
</footer>

<style>
  a {
    color: blue;
    text-decoration: underline;
  }
</style>
