<header
  class="flex flex-col sm:flex-row items-center justify-between py-4 text-gray-600 mb-2"
>
  <a href="/" class="hover:underline">rafey.cc</a>
  <nav class="flex gap-6">
    <a href="/about" class="hover:underline lowercase">About</a>
    <a href="/posts" class="hover:underline lowercase">Posts</a>
    <a href="/projects" class="hover:underline lowercase">Projects</a>
    <a href="/resume" class="hover:underline lowercase">Resume</a>
  </nav>
</header>
