---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
console.log(currentPath);
---

<header class="flex flex-col sm:flex-row items-center justify-between py-2">
  <a href="/" class="text-lg font-semibold">Rafey Ahmad</a>
  <nav class="flex gap-6">
    <a
      href="/about"
      class=`lowercase  text-gray-400 ${currentPath === "" ? "text-pink-600 font-bold" : ""}`
      >Home</a
    >
    <a
      href="/now"
      class=`lowercase text-gray-400 ${currentPath === "now" ? "text-pink-600 font-bold " : ""}`
      >Now</a
    >
    <a
      href="/posts"
      class=`lowercase text-gray-400 ${currentPath === "posts" ? "text-pink-600 font-bold " : ""}`
      >Posts</a
    >
    <a
      href="/projects"
      class=`lowercase  text-gray-400 ${currentPath === "projects" ? "text-pink-600 font-bold " : ""}`
      >Projects</a
    >
    <a
      href="/resume"
      class=`lowercase text-gray-400 ${currentPath === "resume" ? "text-pink-600 font-bold " : ""}`
      >Resume</a
    >
  </nav>
</header>

<hr class="bg-gray-300 h-[1px] mb-8" />
