---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
console.log(currentPath);

const navItems = ["about", "now", "posts", "projects", "uses"];
---

<header class="flex flex-col sm:flex-row items-center justify-between py-2">
  <a href="/" class="text-xl font-semibold">Rafey Ahmad</a>
  <nav class="flex gap-6">
    {
      navItems.map((item) => {
        return (
          <a
            href={`/${item}`}
            class={`lowercase text-gray-400 ${currentPath === item ? "text-pink-600 font-bold" : ""}`}
          >
            {item}
          </a>
        );
      })
    }
  </nav>
</header>

<hr class="bg-gray-300 h-[1px] mb-8" />
