<header class="flex flex-col sm:flex-row items-center justify-between py-2">
  <a href="/">rafey.cc</a>
  <nav class="flex gap-6">
    <a href="/about" class="lowercase">About</a>
    <a href="/posts" class="lowercase">Posts</a>
    <a href="/projects" class="lowercase">Projects</a>
    <a href="/resume" class="lowercase">Resume</a>
  </nav>
</header>
<hr class="bg-gray-300 h-[1px] mb-8" />
