---
const { frontmatter } = Astro.props;
let date = new Date(frontmatter.pubDate);
let formattedDate = new Intl.DateTimeFormat("en-US", {
  day: "numeric",
  month: "long",
}).format(date);

import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
  <p class="mb-8 text-gray-400">{formattedDate}</p>
  <article class="prose"><slot /></article>
</BaseLayout>
